:root {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --white: hsl(0, 0%, 100%);
  --gray-dark: hsl(0, 0%, 24%);
  --gray-medium: hsl(0, 0%, 35%);
  --gray-light: hsl(0, 0%, 50%);

  --missed: #FF9D88;
  --unmarked: #E3E3E3;
  --did: #3AE9C9;
  --future: #C6C6C6;

  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #FAFAFA;
  margin: 0;
  padding: 0;
}

h1,h2,h3, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

input, button, select, option {
  font-size: inherit;
  font-family: inherit;
}

.main-container {
  padding: 2em 4em;
}

.button-fill, .button-outline {
  padding: 0.9em 1em;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bolder;
  border: none;
  box-shadow: 0px 0px 9.00396px rgba(0, 0, 0, 0.21);
  min-width: 8em;
}

.button-fill {
  background: var(--gray-dark);
  color: white;

  &:hover {
    background-color: var(--gray-medium);
  }
}

.button-outline {
  color: var(--gray-dark);
  background: white;
  &:hover {
    background-color: #eeeeee;
  }
}

.danger {
  background: #e86666;
  justify-self: flex-start;

  &:hover {
    background: #f77979;
  }
}

.missed {
  background: #FF9D88;
  border-color: #FF9D88;
}
.unmarked {
  background: #E3E3E3;
  border-color: #E3E3E3;
}
.did {
  background: #3AE9C9;
  border-color: #3AE9C9;
}
.future {
  background: #C6C6C6;
  border-color: #C6C6C6;
}